servicesabi/src/main/app/getlastfm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="ServicesabiArtistFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getlastfminfo" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.track  != null]">
                <http:request config-ref="HTTP_Request_Configuration_LastFM" path="/" method="GET" doc:name="HTTP Artist and Track">
                    <http:request-builder>
                        <http:query-param paramName="artist" value="#[message.inboundProperties.'http.query.params'.artist]"/>
                        <http:query-param paramName="method" value="track.getInfo"/>
                        <http:query-param paramName="track" value="#[message.inboundProperties.'http.query.params'.track]"/>
                        <http:query-param paramName="api_key" value="${lastfmKey}"/>
                        <http:query-param paramName="format" value="json"/>
                    </http:request-builder>
                </http:request>
                <logger message="RECEIVED FROM API ARTIST AND TRACK ==============   #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Received API Artist and Track"/>
            </when>
            <otherwise>
                <http:request config-ref="HTTP_Request_Configuration_LastFM" path="/" method="GET" doc:name="HTTP Artist">
                    <http:request-builder>
                        <http:query-param paramName="method" value="artist.getInfo"/>
                        <http:query-param paramName="artist" value="#[message.inboundProperties.'http.query.params'.artist]"/>
                        <http:query-param paramName="api_key" value="${lastfmKey}"/>
                        <http:query-param paramName="format" value="json"/>
                    </http:request-builder>
                </http:request>
                <logger message="RECEIVED API ARTIST ======================  #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Received API Artist"/>
            </otherwise>
        </choice>
        <exception-strategy ref="servicesabiCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
